[submodule "vendor/tree-sitter"]
	path = vendor/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "vendor/termbox2"]
	path = vendor/termbox2
	url = https://github.com/termbox/termbox2.git
[submodule "vendor/tree-sitter-c"]
	path = vendor/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
